.js-blur .backups-list-wrapper
{
    opacity : 0.9;
}

.backups-list-wrapper
{
    position     : absolute;
    top          : 46px;
    bottom       : 0;
    width        : 40%;
    background   : #292929;
    border-right : 1px solid #212121;
    z-index      : 2;
}

.backups-list
{
    position   : absolute;
    top        : 0;
    bottom     : 40px;
    width      : 100%;
    overflow-y : auto;
}

.actions
{
    position   : absolute;
    width      : 100%;
    height     : 40px;
    bottom     : 0;
    border-top : 1px solid #212121;
    background : linear-gradient(to bottom, #4e4f4e, #383839);
    box-shadow : inset 0 1px 0 #666666;

    button
    {
        font-size    : 12px;
        color        : #cccccc;
        text-shadow  : 0 1px 0 #000000;
        float        : left;
        height       : 100%;
        background   : transparent;
        padding      : 0 14px 0 14px;
        border-right : 1px solid #212121;
        &:active
        {
            background : linear-gradient(to top, #4e4f4e, #383839);
        }

        &:disabled i
        {
            opacity : 0.3;
        }

        &:disabled:active
        {
            background : linear-gradient(to bottom, #4e4f4e, #383839);
        }

    }
}