.js-blur .toolbar
{
    opacity : 0.9;
}

.toolbar
{
    position      : absolute;
    width         : 100%;
    height        : 46px;
    background    : linear-gradient(to bottom, #4e4f4e, #383839);
    box-shadow    : inset 0 1px 0 #666666;
    border-bottom : 1px solid #212121;

    h1
    {
        z-index     : 1;
        cursor      : default;
        position    : absolute;
        top         : 0;
        left        : 0;
        height      : 100%;
        font-size   : 17px;
        color       : #808080;
        text-shadow : 0 1px 0 #171717;
        font-weight : 300;
        width       : 100%;
        text-align  : center;
        line-height : 42px;
    }

    .close
    {
        z-index       : 2;
        position      : absolute;
        width         : 13px;
        height        : 13px;
        top           : 17px;
        left          : 12px;
        border        : 1px solid #2a2a2a;
        background    : linear-gradient(to bottom, #4e4f4e, #383839);
        border-radius : 50%;

        &:hover
        {
            border     : 1px solid #af413e;
            background : #fc615c;

            i
            {
                display : block;
            }
        }

        &:active
        {
            border     : 1px solid #af413e;
            background : #e05652;

            i
            {
                display : block;
            }
        }

        i
        {
            position  : absolute;
            display   : none;
            top       : 1px;
            left      : 2px;
            font-size : 9px;
            color     : #000000;
            opacity   : 0.4;
            transform : rotate(45deg);
        }
    }
}