.backup-filetree
{
    position              : absolute;
    top                   : 50px;
    left                  : 12px;
    right                 : 12px;
    bottom                : 12px;
    color                 : #333333;
    border                : 1px solid #dddddd;
    border-radius         : 3px;
    font-size             : 12px;
    background            : #ffffff url(images/filetree.png) repeat 0 0;
    background-attachment : local;
    /* margin: 5px 0 0 0; */
    box-shadow            : inset 0 1px 0 #f6f6f6;
    overflow-y            : auto;

    ul
    {
        list-style-type : none;
        margin          : 0 0 0 14px;

        &:first-child
        {
            margin-left : 5px;
        }
    }

    li
    {
        position      : relative;
        font-weight   : 400;
        cursor        : default;
        border-radius : 3px;
        font-size     : 11px;

        .toggle
        {
            position   : absolute;
            top        : 0;
            left       : -5px;
            width      : 18px;
            height     : 20px;
            background : transparent;
        }

        .name
        {
            display     : block;
            padding     : 7px 5px 0 14px;
            height      : 22px;
            line-height : 7px;

            &:hover button
            {
                display : block;
            }

            button
            {
                display       : none;
                position      : absolute;
                background    : linear-gradient(to bottom, #fdfdfd, #e7e7e7);
                padding       : 0 5px 1px 5px;
                top           : 3px;
                right         : 3px;
                border        : 1px solid #cbcbcb;
                box-shadow    : inset 0 1px 0 #ffffff;
                border-radius : 2px;
                font-size     : 9px;

                &:active
                {
                    background : linear-gradient(to top, #fdfdfd, #e7e7e7);
                }
            }
        }

        &.js-file:before,
        &.js-dir:before
        {
            display     : block;
            font-family : "FontAwesome", sans-serif;
            color       : #333333;
            position    : absolute;
            left        : 0;
            opacity     : 0.3;
        }

        &.js-file:before
        {
            //content : '\f016';
            content   : '\f15b';
            top       : 6px;
            font-size : 9px;
        }

        &.js-dir:before
        {
            //content : '\f114';
            content   : '\f07c';
            top       : 6px;
            font-size : 10px;
        }

        &.js-dir.js-closed:before
        {
            //content : '\f114';
            content   : '\f07b';
            top       : 6px;
            font-size : 10px;
        }

    }

}