.backup-sections
{
    z-index       : 1;
    position      : absolute;
    top           : 39px;
    left          : 12px;
    right         : 12px;
    bottom        : 155px;
    overflow-y    : auto;
    border        : 1px solid #cbcbcb;
    border-radius : 4px;
    background    : #f2f2f2;
    box-shadow    : 0 1px 0 #ffffff;

    .section
    {
        position   : relative;
        float      : left;
        width      : 100%;
        padding    : 12px 12px 6px 12px;
        min-height : 100%;
    }

    .buttons
    {
        width    : 100%;
        position : relative;
        height   : 30px;

        button
        {
            float         : right;
            background    : linear-gradient(to bottom, #fefefe, #f2f2f2);
            padding       : 2px 8px 3px 6px;
            border        : 1px solid #cbcbcb;
            box-shadow    : inset 0 1px 0 #ffffff;
            border-radius : 3px;
            font-size     : 11px;
            color         : #646464;
            margin        : 0 0 0 5px;

            i
            {
                margin : 0 2px 0 0;
            }

            &:active
            {
                background : linear-gradient(to top, #fefefe, #fafafa);
            }
        }
    }

    label,
    p
    {
        cursor    : default;
        color     : #646464;
        position  : relative;
        font-size : 13px;

        .right
        {
            float : right;
        }
    }

    .col1
    {
        float  : left;
        width  : 100%;
        margin : 0 0 10px 0;
    }

    .col2
    {
        float  : left;
        width  : 49%;
        margin : 0 0 10px 0;

        &.left
        {
            margin-right : 2%;
        }
    }

    .col3
    {
        float  : left;
        width  : 32%;
        margin : 0 0 10px 0;

        &.left
        {
            margin-right : 2%;
        }
    }

    input[type="text"],
    input[type="password"]
    {
        color         : #282828;
        width         : 100%;
        height        : 28px;
        border        : 1px solid #dddddd;
        border-radius : 3px;
        font-size     : 12px;
        background    : #ffffff;
        margin        : 5px 0 0 0;
        box-shadow    : inset 0 1px 0 #f6f6f6;
        padding       : 0 5px 0 5px;
        font-weight   : 400;
    }

    select
    {
        color         : #282828;
        width         : 100%;
        height        : 28px;
        border        : 1px solid #dddddd;
        border-radius : 3px;
        font-size     : 12px;
        margin        : 5px 0 0 0;
        background    : linear-gradient(to bottom, #ffffff, #fafafa);
        padding       : 0 5px 0 5px;
        font-weight   : 400;
    }

    input[type="radio"]
    {
        position           : relative;
        -webkit-appearance : none;
        width              : 14px;
        height             : 14px;
        border             : 1px solid #cbcbcb;
        border-radius      : 50%;
        background         : linear-gradient(to top, #ffffff, #fafafa);
        float              : left;
        margin             : 2px 4px 0 0;

        &:disabled
        {
            opacity : 0.5;
        }

        &:checked:after
        {
            content       : ' ';
            display       : block;
            position      : absolute;
            top           : 2px;
            left          : 2px;
            width         : 8px;
            height        : 8px;
            background    : linear-gradient(to bottom, #7ebfdf, #759fda);
            border-radius : 50%;
        }
    }

    .input-icon
    {
        color      : #282828;
        background : linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 40%);
        position   : absolute;
        bottom     : 1px;
        right      : 2px;
        padding    : 5px 3px 5px 16px;
    }
}