.backup-tabs
{
    height : 30px;

    .tab
    {
        float         : left;
        font-size     : 12px;
        line-height   : 14px;
        color         : #646464;
        text-shadow   : 0 1px 0 #ffffff;
        background    : linear-gradient(to bottom, #fefefe, #f2f2f2);
        padding       : 2px 8px 3px 6px;
        border        : 1px solid #CBCBCB;
        box-shadow    : inset 0 1px 0 #ffffff;
        border-radius : 4px 4px 0 0;
        margin        : 5px 2px 0 0;

        &.js-active
        {
            text-transform : uppercase;
        }
    }
}
