.backups-detail-wrapper
{
    z-index  : 1;
    position : absolute;
    top      : 46px;
    bottom   : 0;
    left     : 40%;
    width    : 60%;

    .empty
    {
        z-index  : 1;
        position : absolute;
        width    : 100%;
        height   : 100%;

        i
        {
            color       : #cbcbcb;
            font-size   : 50px;
            position    : absolute;
            top         : 50%;
            left        : 50%;
            text-shadow : 0 2px 0 #ffffff;
            margin      : -45px 0 0 -27px;
        }

        span
        {
            position    : absolute;
            width       : 80%;
            left        : 10%;
            top         : 50%;
            color       : #cbcbcb;
            font-size   : 17px;
            text-align  : center;
            text-shadow : 0 2px 0 #ffffff;
            margin      : 20px 0 0 0;
        }
    }

    .detail
    {
        z-index    : 2;
        position   : absolute;
        width      : 100%;
        height     : 100%;
        background : linear-gradient(to bottom, #ffffff, #fafafa);

        &.js-processing:after
        {
            content       : ' ';
            display       : block;
            z-index       : 4;
            position      : fixed;
            width         : 60%;
            right         : 15px;
            top           : 61px;
            background    : #ffffff;
            opacity       : 0.5;
            bottom        : 15px;
            border-radius : 0 0 4px 0;
        }
    }
}