.backup-item
{
    position      : relative;
    border        : 1px solid #212121;
    box-shadow    : inset 0 1px 0 #666666, 0 1px 0 #323232;
    background    : #fefefe;
    margin        : 10px 10px 0 10px;
    border-radius : 4px;
    padding       : 6px 10px 8px 10px;
    background    : linear-gradient(to bottom, #4e4f4e, #383839);

    &:active
    {
        background : linear-gradient(to top, #4e4f4e, #383839);
    }

    .title
    {
        cursor      : default;
        font-size   : 13px;
        color       : #cccccc;
        text-shadow : 0 1px 0 #000000;
    }

    .status,
    .process-message
    {
        display     : block;
        cursor      : default;
        font-size   : 11px;
        color       : #999999;
        text-shadow : 0 1px 0 #1d1d1d;
    }

    .process-message
    {
        display : none;
    }

    .error
    {
        display   : none;
        position  : absolute;
        color     : #f6d349;
        right     : 10px;
        top       : 17px;
        font-size : 16px;
    }

    .progressbar
    {
        display       : none;
        position      : relative;
        left          : 0;
        right         : 0;
        height        : 8px;
        margin        : 6px 15px 0 0;
        border-radius : 4px;
        background    : #4d4e4d;
        border        : 1px solid #2b2b2b;
        box-shadow    : 0 1px 0 #4d4e4d, inset 0 5px 10px #313132;

        .cancel
        {
            position    : absolute;
            top         : -5px;
            right       : -20px;
            line-height : 0;
            font-size   : 15px;
            background  : transparent;
            color       : #cccccc;
            text-shadow : 0 1px 0 #2b2b2b;
        }

        .progress
        {
            position      : absolute;
            height        : 100%;
            background    : linear-gradient(to bottom, #78aadc, #7ebedf);
            border-radius : 4px;

            @-webkit-keyframes move
            {
                0%
                {
                    background-position : 0 0;
                }
                100%
                {
                    background-position : 60px 60px;
                }
            }

            &:after
            {
                border-radius     : 4px;
                content           : "";
                position          : absolute;
                top               : 0;
                left              : 0;
                bottom            : 0;
                right             : 0;
                background-image  : -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #729bd4), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #729bd4), color-stop(.75, #729bd4), color-stop(.75, transparent), to(transparent));
                background-size   : 30px 30px;
                -webkit-animation : move 2s linear infinite;
            }
        }
    }

    &.js-processing
    {
        .progressbar
        {
            display : block;
        }
        .status
        {
            display : none;
        }
        .process-message
        {
            display : block;
        }
    }

    &.js-error .error
    {
        display : block;
    }

    &.js-active
    {
        background : linear-gradient(to top, #7ebfdf, #759fda);
        box-shadow : inset 0 0 1px #ffffff;

        &:active
        {
            background : linear-gradient(to top, #7ebfdf, #6b91c7);
        }

        .progressbar
        {
            border     : 1px solid #6e96cd;
            background : #90d6fa;
            box-shadow : 0 1px 0 #9bcde6, inset 0 5px 10px #759fda;

            .cancel
            {
                color       : #ffffff;
                text-shadow : 0 1px 0 #6788b6;
            }

            .progress:after
            {
                background-image : -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #9bcde6), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #9bcde6), color-stop(.75, #9bcde6), color-stop(.75, transparent), to(transparent));
            }
        }

        .status,
        .process-message,
        .title
        {
            text-shadow : 0 1px 0 #6788b6;
            color       : #ffffff;
        }

        .loader,
        .error
        {
            color : #ffffff;
        }
    }
}
