/* line 1, ../sass/_base.scss */
html, body, div, span, p, form, input, textarea, select, h1, h2, h3, table, tbody, tr, td, label, button, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

/* line 12, ../sass/_base.scss */
html, body {
  -webkit-user-select: none;
  overflow: hidden;
}

/* line 18, ../sass/_base.scss */
.window {
  background: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
}

/* line 1, ../sass/_toolbar.scss */
.js-blur .toolbar {
  opacity: 0.5;
}

/* line 6, ../sass/_toolbar.scss */
.toolbar {
  position: absolute;
  width: 100%;
  height: 46px;
  background: linear-gradient(to bottom, #ffffff, #eaeaea);
  padding: 0 12px 0 12px;
  border-bottom: 1px solid #b4b4b4;
}
/* line 15, ../sass/_toolbar.scss */
.toolbar .close {
  position: relative;
  float: left;
  width: 13px;
  height: 13px;
  margin: 17px 0 0 0;
  border: 1px solid #b4b4b4;
  background: #cccccc;
  border-radius: 50%;
}
/* line 26, ../sass/_toolbar.scss */
.toolbar .close:hover {
  border: 1px solid #af413e;
  background: #fc615c;
}
/* line 31, ../sass/_toolbar.scss */
.toolbar .close:hover i {
  display: block;
}
/* line 37, ../sass/_toolbar.scss */
.toolbar .close:active {
  border: 1px solid #af413e;
  background: #e05652;
}
/* line 42, ../sass/_toolbar.scss */
.toolbar .close:active i {
  display: block;
}
/* line 48, ../sass/_toolbar.scss */
.toolbar .close i {
  position: absolute;
  display: none;
  top: 1px;
  left: 2px;
  font-size: 9px;
  color: #000000;
  opacity: 0.4;
  transform: rotate(45deg);
}
/* line 61, ../sass/_toolbar.scss */
.toolbar .add {
  color: #333333;
  float: right;
  font-size: 12px;
  border-radius: 4px;
  padding: 5px 10px 5px 7px;
  box-shadow: inset 0 1px 0 #ffffff;
  background: linear-gradient(to bottom, #ffffff, #eaeaea);
  border: 1px solid #b4b4b4;
  margin: 10px 0 0 0;
}
/* line 73, ../sass/_toolbar.scss */
.toolbar .add:active {
  background: linear-gradient(to top, #ffffff, #eaeaea);
}

/* line 1, ../sass/_backups.scss */
.js-blur .backups-wrapper {
  opacity: 0.5;
}

/* line 6, ../sass/_backups.scss */
.backups-list-wrapper {
  position: absolute;
  top: 46px;
  bottom: 0;
  width: 40%;
}

/* line 14, ../sass/_backups.scss */
.backups-list {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  border-right: 1px solid #000000;
}

/* line 24, ../sass/_backups.scss */
.backups-config-wrapper {
  position: absolute;
  top: 46px;
  bottom: 0;
  left: 40%;
  width: 60%;
}

/* line 33, ../sass/_backups.scss */
.backups-config {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
}

/* line 44, ../sass/_backups.scss */
.backup-item.js-loading .loader {
  display: block;
}
/* line 49, ../sass/_backups.scss */
.backup-item.js-loading .config {
  -webkit-filter: blur(1.5px);
}

/* line 55, ../sass/_backups.scss */
.backup-item {
  position: relative;
  border: 1px solid #dddddd;
  box-shadow: 0 1px 0 rgba(237, 237, 237, 0.75);
  background: #fefefe;
  margin: 15px 15px 0 15px;
  border-radius: 4px;
  overflow: hidden;
}
/* line 65, ../sass/_backups.scss */
.backup-item.js-active {
  border: 1px solid #000000;
}
/* line 70, ../sass/_backups.scss */
.backup-item .heading {
  z-index: 1;
  position: relative;
  height: 36px;
  background: linear-gradient(to bottom, #ffffff, #f5f5f5);
  border-bottom: 0;
}
/* line 78, ../sass/_backups.scss */
.backup-item .heading .title {
  float: left;
  cursor: default;
  font-size: 14px;
  color: #666666;
  text-shadow: 0 1px 0 #ffffff;
  margin: 10px 0 0 10px;
}
/* line 88, ../sass/_backups.scss */
.backup-item .heading .status {
  float: right;
  cursor: default;
  font-size: 14px;
  color: #999999;
  text-shadow: 0 1px 0 #ffffff;
  margin: 10px 12px 0 0;
}

/* line 100, ../sass/_backups.scss */
.backup-config {
  z-index: 1;
  position: relative;
  float: left;
  width: 100%;
}
/* line 107, ../sass/_backups.scss */
.backup-config .inside {
  margin: 15px;
}
/* line 112, ../sass/_backups.scss */
.backup-config .col1 {
  float: left;
  width: 100%;
  margin: 0 0 15px 0;
}
/* line 119, ../sass/_backups.scss */
.backup-config .col2 {
  float: left;
  width: 49.5%;
  margin: 0 0 15px 0;
}
/* line 125, ../sass/_backups.scss */
.backup-config .col2.left {
  margin-right: 1%;
}
/* line 131, ../sass/_backups.scss */
.backup-config label {
  position: relative;
  font-size: 13px;
}
/* line 137, ../sass/_backups.scss */
.backup-config input[type="text"] {
  width: 100%;
  height: 28px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 12px;
  background: #ffffff;
  margin: 5px 0 0 0;
  box-shadow: inset 0 1px 0 #f6f6f6;
  padding: 0 5px 0 5px;
}
/* line 150, ../sass/_backups.scss */
.backup-config .input-icon {
  color: #333333;
  background: transparent;
  position: absolute;
  bottom: -7px;
  right: 0;
  width: 28px;
  height: 28px;
}

/* line 162, ../sass/_backups.scss */
.files {
  color: #333333;
  height: 150px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 12px;
  background: #ffffff;
  margin: 5px 0 0 0;
  box-shadow: inset 0 1px 0 #f6f6f6;
  overflow-y: auto;
  padding: 5px 10px 5px 5px;
}
/* line 175, ../sass/_backups.scss */
.files ul {
  list-style-type: none;
}
/* line 180, ../sass/_backups.scss */
.files li {
  cursor: default;
  border-radius: 3px;
  border: 1px solid transparent;
}
/* line 186, ../sass/_backups.scss */
.files li i {
  color: #999999;
  margin: 2px 2px 2px 0;
}

/* line 194, ../sass/_backups.scss */
.footer {
  z-index: 1;
  position: relative;
  float: left;
  width: 100%;
  height: 36px;
  background: linear-gradient(to bottom, #ffffff, #f5f5f5);
  border-top: 1px solid #dddddd;
}
/* line 204, ../sass/_backups.scss */
.footer .action {
  position: relative;
  color: #333333;
  font-size: 12px;
  background: transparent;
  height: 100%;
  padding: 0 10px 0 28px;
}
/* line 213, ../sass/_backups.scss */
.footer .action.left {
  float: left;
  border-right: 1px solid #dddddd;
}
/* line 219, ../sass/_backups.scss */
.footer .action.right {
  float: right;
  border-left: 1px solid #dddddd;
}
/* line 225, ../sass/_backups.scss */
.footer .action i {
  position: absolute;
  top: 11px;
  left: 8px;
  font-size: 13px;
  color: #bbbbbb;
}
/* line 234, ../sass/_backups.scss */
.footer .action:active {
  background: linear-gradient(to top, #ffffff, #f5f5f5);
}
